<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	@Styles.Render("~/Content/bootstrap.min.css")
	@Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
	<script src="https://kit.fontawesome.com/5301593776.js" crossorigin="anonymous"></script>
	<style>
		body {
			max-width: 100%;
			overflow-x: hidden;
		}
	</style>
</head>
<body>

	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container-fluid container">
				<a class="navbar-brand text-white fw-bold" href="#"> Ecommerce </a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ms-auto">
						<a class="nav-link fw-bold text-white px-3" href="/Product/Index">Home</a>
						<a class="nav-link fw-bold text-white px-3" href="/Product/ProductList">Product List</a>
						<a class="nav-link fw-bold text-white px-3" href="/Product/Create">Add Product</a>
					</div>
				</div>
			</div>
		</nav>


		@RenderBody()

		<footer class="text-center">
			<p class="fw-bold text-danger">copyright © @DateTime.Now.Year || all rights reserved by kbutsho</p>
		</footer>
	</div>



	@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
	@Scripts.Render("~/Scripts/bootstrap.min.js")

</body>
</html>